{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DJANGO Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>


{% block content %}       
<html lang="en" >

<body>


<section>
  <article>
    <ul class="panels">
      <li class="panel">
        <a href="#">
          <span>
            Animals            
          </span>
        </a>
        <img src="{% static 'css/wolf.jpg' %}" />
      </li>
      <li class="panel">
        <a href="#">
          <span>
            History            
          </span>
        </a>
        <img src="{% static 'css/hitler.jpg' %}" />
      </li>
      <li class="panel">
        <a href="#">
          <span>
            Science           
          </span>
        </a>
        <img src="{% static 'css/science.jpg' %}" />
      </li>
      <li class="panel">
        <a href="#">
          <span>
            Travel            
          </span>
        </a>
        <img src="{% static 'css/eiffel.jpg' %}" />
      </li>
    </ul>
  </article>
</section>

</body>
</html>
<div class="contain"><button type="submit" backgroundcolor:black><a href="user-logout">LOG OUT</a></button></div>

{% endblock %}