{% extends 'webapp/base.html' %}

{% load static %}

{% block content %}
    
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> WELCOME TO Customer Relationship Management Site </h3>

            <br>

            <h5> By Aashirwad Budhathoki </h5>

            <hr>
            <br>

            <a class="btn btn-warning" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>

        </div>

    </body>        


{% endblock %}